@font-face {
    font-family: Lora;
    src: url(Lora.ttf);
}
div.sheet {
    font-family: Lora;
    font-weight: 500;
}
div.dialog {
    font-family: Lora;
    font-weight: 500;
}
div.sheet .test {
    font-size: 1px;
}




.bord {
    border-style: solid;
    border-width: 1px;
    border-color: red;
}
.hkFlex {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: start;
    justify-content: start;
}
.hkTabs {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: 2px solid black;
    border-left: 0;
    border-right: 0;
}
.desc {
    resize: none;
    min-width: 250px;
    height: 250px;
}




.EquipmentTab  {
    display: grid !important;
    grid-template: "c c" min-content
                   "a b" min-content / min-content min-content;
    column-gap: 50px;
    row-gap: 15px;
}
.WeaponList {
    display: grid;
    grid-template-columns: minmax(max-content, 100%) max-content max-content max-content max-content max-content max-content;
    grid-auto-rows: 25px;
    align-items: center;
    justify-items: center;
    width: 100%;
}
.ArmorList {
    display: grid;
    grid-template-columns: minmax(max-content, 100%) max-content max-content max-content;
    grid-auto-rows: 25px;
    align-items: center;
    justify-items: center;
    width: 100%;
}
.EquipmentList {
    display: grid;
    grid-template-columns: minmax(max-content, 100%) max-content max-content;
    grid-auto-rows: 25px;
    align-items: center;
    justify-items: center;
    width: 100%;
}
.CharmList {
    display: grid;
    grid-template-columns: minmax(max-content, 100%) max-content max-content;
    grid-auto-rows: 25px;
    align-items: center;
    justify-items: center;
    width: 100%;
}
.SkillsTab {
    display: grid !important;
    grid-template: "a b c d" min-content / min-content min-content min-content min-content;
    column-gap: 35px;
    row-gap: 15px;
}
.TraitList {
    display: grid;
    grid-template-columns: minmax(max-content, 100%) max-content max-content max-content;
    grid-auto-rows: 25px;
    align-items: center;
    justify-items: center;
    width: 100%;
    grid-area: b;
}
.ProfList {
    display: grid;
    grid-template-columns: minmax(max-content, 100%) max-content max-content;
    grid-auto-rows: 25px;
    align-items: center;
    justify-items: center;
    width: 100%;
    grid-area: a;
}
.PathList {
    display: grid;
    grid-template-columns: minmax(max-content, 100%) max-content;
    grid-auto-rows: 25px;
    align-items: center;
    justify-items: center;
    width: 100%;
    grid-area: d;
}
.ArtList {
    display: grid;
    grid-template-columns: minmax(max-content, 100%) max-content;
    grid-auto-rows: 25px;
    align-items: center;
    justify-items: center;
    width: 100%;
    grid-area: c;
}
.ItemListItem {
    display: flex;
    padding-left: 5px;
    padding-right: 5px;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid black;
}
.ItemListBorder {
    border-left: 2px dotted #646464;
}
.ItemListItem.ItemListHeader {
    border-bottom: 3px solid black;
    border-left: 0;
    align-items: end;
}


.hkOpenSheet:hover {
    cursor: pointer;
    text-shadow: 0 0 2px #9696e1;
}
.hkUse:hover {
    cursor: pointer;
    text-shadow: 0 0 2px #9696e1;
}
.hkItemDelete:hover {
    cursor: pointer;
    text-shadow: 0 0 2px #9696e1;
}
.rollable:hover {
    cursor: pointer;
    text-shadow: 0 0 2px #9696e1;
}
div.sheet a:hover {
    text-shadow: 0 0 2px #9696e1;
}




.attrBox{
    display: grid;
    column-gap: 0px;
    grid-template-columns: minmax(min-content, 100%) 35px;
    grid-template-rows: 26px 26px;
}
.attrBoxName{
    font-size: 20px;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
    border: 1px solid;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    padding-right: 10px;
}
.attrBox1{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
}
.attrBox2{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
}
.poolsBoxes{
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 10px;
    row-gap: 10px;
}




.specialTab {
    display: grid;
    grid-template: "a b" min-content / min-content min-content;
    column-gap: 20px;
}
.specialLeftList {
    grid-area: a;
    display: grid;
    grid-template: "a b c d" min-content / min-content min-content min-content min-content;
    justify-items: center;
    align-items: center;
    column-gap: 5px;
    row-gap: 15px;
}
.specialRightList {
    grid-area: b;
    display: grid;
    grid-auto-rows: 25px;
    align-items: center;
    justify-items: center;
    width: 100%;
}




div.sheet input[type="text"].noBord {
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
}
div.sheet input[type="text"].noTBord{
    border-top-width: 0px;
}
div.sheet input[type="text"].noBBord{
    border-bottom-width: 0px;
}
div.sheet input[type="text"].noRBord{
    border-right-width: 0px;
}
div.sheet input[type="text"].noLBord{
    border-left-width: 0px;
}




div.sheet form {
    background: white;
}
div.sheet section.window-content{
    background: white;
    color: black;
}
div.dialog form {
    background-color: white;
}
div.dialog section.window-content{
    background: white;
    color: black;
}
div.sheet span {
    text-wrap: nowrap;
}
div.dialog span {
    text-wrap: nowrap;
}
div.dialog input[type="text"] {
    border-radius: 0px;
    background-color: #f0f0f0;
    color: black;
    font-weight: 500;
}
div.sheet input[type="text"] {
    border-radius: 0px;
    border: 1px solid;
    background-color: rgb(240, 240, 240);
    color: black;
    font-weight: 500;
    text-align: center;
}
div.sheet input[type="text"][readonly] {
    background-color: rgb(225, 225, 225);
    cursor: default;
}
div.sheet select {
    border-radius: 0;
    border-color: black;
}