<form class="flexcol" autocomplete="off">
    <header style="display: grid; grid-template-rows: 100px 100px 200px; row-gap: 10px;">
        <div class="hkFlex" style="column-gap: 5px; align-items: center;">
            <img src="{{item.img}}" data-edit="img" height="100px" width="100px" style="object-fit: contain;"/>
            <input class="noBord" type="text" name="name" value="{{item.name}}" style="max-width: 300px;"/>
        </div>

        <div class="hkFlex" style="column-gap: 15px;">

            <div style="display: grid; justify-items: center;">
                <span style="text-wrap: nowrap;">Rank 1</span>
                <input type="checkbox" name="system.Rank1" style="width: 20px; height: 20px; margin: 0;" {{#if item.system.Rank1}}checked{{/if}}/>
            </div>

            <div style="display: grid; justify-items: center;">
                <span style="text-wrap: nowrap;">Rank 2</span>
                <input type="checkbox" name="system.Rank2" style="width: 20px; height: 20px; margin: 0;" {{#if item.system.Rank2}}checked{{/if}}/>
            </div>

            <div style="display: grid; justify-items: center;">
                <span style="text-wrap: nowrap;">Rank 3</span>
                <input type="checkbox" name="system.Rank3" style="width: 20px; height: 20px; margin: 0;" {{#if item.system.Rank3}}checked{{/if}}/>
            </div>
        </div>

        <textarea class="desc" name="system.Description" value="{{item.system.Description}}" placeholder="Enter description here...">{{item.system.Description}}</textarea>
    </header>
</form>